# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intelliprojects\document-generator-mq\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
